nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
}

nav a {
  color: black;
  text-decoration: none;
}

main {
  width: 50%;
  margin: auto;
  text-align: center;
}
