nav {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-left: auto;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: xx-large;
}

main {
  width: 50%;
  margin: auto;
  text-align: center;
}

input {
  width: 80%;
  padding: 1em;
  border-radius: 30px;
  border: 1px solid gray;
}

.button-sec {
  margin-top: 1em;
}

/* .button-div button {
  padding: 1em;
  border: none;
} */
